.show-background {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s;
}

.show-background:hover {
    opacity: 1;
}

.show-background > input {
    display: none;
}

.become-transparent {
    opacity: 0;
}

.theme-toggle,
main,
.todo {
    transition: opacity 0.4s ease-in-out;
}
