@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@import "variables.css";
@import "animations.css";

@import "./main/theme-toggle.css";
@import "./main/clock.css";
@import "./main/greeting.css";
@import "./main/controls.css";

* {
    box-sizing: border-box;
}

body,
input {
    font-family: "Ubuntu", sans-serif;
    font-weight: var(--fw-regular);
}

body {
    color: var(--clr-text);
    display: flex;
    align-items: center;
    height: 100vh;
}

input {
    border: none;
    outline: none;
}

.invisible {
    display: none;
}

main {
    margin-left: 5rem;
}
