.todo-toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-backgorund);
    box-shadow: var(--shadow-deep);
    padding: 1rem;
    border-radius: 0.6rem;

    margin-bottom: 2rem;
    backdrop-filter: var(--blur);
}

.todo-toggle-container > span {
    font-size: 1.1rem;
    padding: 0.5rem;
}

.todo-toggle {
    position: relative;
    width: 4rem;
    height: 2rem;
}

.todo-toggle > input {
    display: none;
}

.todo-toggle__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem;
    background-color: var(--clr-inactive);
    transition: background-color 0.2s;
}

.todo-toggle__slider::before {
    content: "";
    position: absolute;
    left: 0.3rem;
    bottom: 0.3rem;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.2s;
}

.todo-toggle > input:checked + .todo-toggle__slider {
    background-color: var(--clr-primary);
}

.todo-toggle > input:checked + .todo-toggle__slider::before {
    transform: translateX(2rem);
}
