@import "todo-new.css";
@import "todo-toggle.css";
@import "todo-container.css";

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-backgorund);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow-deep);
    border-radius: 0.6rem;
}
