.controls,
.controls > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls > div {
    width: 50%;
    height: 3.5rem;
    font-size: 1.8rem;
    background-color: var(--clr-backgorund);
    color: var(--clr-inactive-text);
    border-top: 1px solid rgba(145, 143, 143, 0.5);
    cursor: pointer;
    transition: all 0.2s;
}

.controls__todo-btn {
    border-radius: 0 0 0 0.6rem;
    border-right: 1px solid rgba(145, 143, 143, 0.5);
}

.controls__calendar-btn {
    border-radius: 0 0 0.6rem 0;
}

.controls > div:hover {
    background-color: var(--clr-primary);
    color: var(--clr-primary-icon);
}
