.greeting {
    margin-bottom: 4rem;
}

.greeting__time {
    font-size: 2rem;
}

.greeting__user-name {
    font-size: 3rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
}

.greeting__ask-name {
    font-size: 3rem;
}

.greeting__ask-name > input {
    font-size: 3rem;
    width: 10ch;
}
.greeting__ask-name > input::placeholder {
    color: var(--clr-inactive-text);
    transition: color 0.2s;
}

.greeting__ask-name > input:focus::placeholder {
    color: var(--clr-primary-light);
}
